<div class="block-container" [class.focused]="isFocused" (mouseenter)="showControls = true" (mouseleave)="showControls = false">
  <div class="block-handle" *ngIf="showControls">
    <button mat-icon-button (click)="toggleMenu()" [matTooltip]="'Change block type'">
      <mat-icon>drag_indicator</mat-icon>
    </button>
  </div>
  
  <div class="block-content" [ngClass]="'block-' + block.type">

    <mat-checkbox *ngIf="block.type === 'todo'" 
                 [checked]="block.checked" 
                 (change)="toggleTodo()">
    </mat-checkbox>
    
    <div [ngSwitch]="block.type">
      <div *ngSwitchCase="'text'" 
      class="block-text"
      contenteditable="true"
      [attr.placeholder]="'Type something...'"
      (input)="onContentChange($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      (keydown)="handleKeydown($event)">{{block.content}}
    </div>

      <h1 *ngSwitchCase="'heading1'"
          contenteditable="true"
          [attr.placeholder]="'Heading 1'"
          (input)="onContentChange($event)"
          (focus)="onFocus()"
          (blur)="onBlur()"
          (keydown)="handleKeydown($event)">{{block.content}}
      </h1>
      
      <h2 *ngSwitchCase="'heading2'"
          contenteditable="true"
          [attr.placeholder]="'Heading 2'"
          (input)="onContentChange($event)"
          (focus)="onFocus()"
          (blur)="onBlur()"
          (keydown)="handleKeydown($event)">{{block.content}}
      </h2>
      
      <h3 *ngSwitchCase="'heading3'"
          contenteditable="true"
          [attr.placeholder]="'Heading 3'"
          (input)="onContentChange($event)"
          (focus)="onFocus()"
          (blur)="onBlur()"
          (keydown)="handleKeydown($event)">{{block.content}}
      </h3>
      <ul *ngSwitchCase="'bulleted-list'">
        <li contenteditable="true"
            [attr.placeholder]="'List item'"
            (input)="onContentChange($event)"
            (focus)="onFocus()"
            (blur)="onBlur()"
            (keydown)="handleKeydown($event)">{{block.content}}
        </li>
      </ul>
      
      <ol *ngSwitchCase="'numbered-list'">
        <li contenteditable="true"
            [attr.placeholder]="'List item'"
            (input)="onContentChange($event)"
            (focus)="onFocus()"
            (blur)="onBlur()"
            (keydown)="handleKeydown($event)">{{block.content}}
        </li>
      </ol>

      <pre *ngSwitchCase="'code'">
        <code contenteditable="true"
              [attr.placeholder]="'Enter code...'"
              (input)="onContentChange($event)"
              (focus)="onFocus()"
              (blur)="onBlur()"
              (keydown)="handleKeydown($event)">{{block.content}}
        </code>
      </pre>

      <blockquote *ngSwitchCase="'quote'"
                 contenteditable="true"
                 [attr.placeholder]="'Enter quote...'"
                 (input)="onContentChange($event)"
                 (focus)="onFocus()"
                 (blur)="onBlur()"
                 (keydown)="handleKeydown($event)">{{block.content}}
      </blockquote>
      
      <hr *ngSwitchCase="'divider'">
    </div>
  </div>

  <div class="block-controls" *ngIf="showControls">
    <button mat-icon-button (click)="addBlockAfter()" matTooltip="Add below">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteBlock()" matTooltip="Delete">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  
  <div class="block-type-menu" *ngIf="isMenuOpen">
    <mat-card>
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let type of blockTypes"
                        (click)="onTypeChange(type.type)"
                        [selected]="block.type === type.type">
          <mat-icon matListIcon>{{type.icon}}</mat-icon>
          <span matLine>{{type.label}}</span>
        </mat-list-option>
      </mat-selection-list>
    </mat-card>
  </div>
</div>